.work-sans-normal{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* shared-class */
.section-title{
  font-size: 2.8rem;
}



.display-flex{
  display: flex;
    
}
.ul{
    display: flex;
    list-style: none;
    
}
.nav-item{
 margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
    
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
.banner-tittle{
    font-weight: 700;
    font-size: 64px;
    color: rgba(19, 19, 19, 1);
}
  .description{
    font-size: 16px;
    color: rgba(114, 114, 114, 1);
  }
  .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 20px 1.5rem;
  }
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

  }

  .banner-img{
    max-width: 100%;
  }
 

  




  main{
    max-width: 1440px;

  }

  .teams{ display: flex;
    align-items: center;

  }

  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .our-feature{
    margin-left: 130px;
    max-width: 537px;
    font-weight: 700;
  }
  #quick-list{
    color: rgb(75, 63, 63);
    font-weight: 500;

  }
  #of-our{
color: rgba(255, 255, 255, 1);
  }
  #feature{
    color: #FF900E;
  }
  
  .feature-description{
    color: rgba(114, 114, 114, 1);
    font-size: 16px;
    font-weight: 400;
    
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

  }
  .fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241px;
    height: 241px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
.fact-number{
  color: rgba(66, 66, 66, 1);
  font-size: 45px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{ color: rgba(114, 114, 114, 1);
  font-size: 20px;
 margin-top: 10px;
}
.fd{
  max-width: 540px;
}
.our-sponsor{
 text-align: center;
  max-width: 542px;
  max-height: 130px;
  margin: 50px auto;
}

.sponsor-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.sponsor-company img{ filter: grayscale();
  
}
#border{
  border-left: 5px solid #FF900E;
  padding: 10px;
}
.feature-card{
  font-size: 30px;
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.features{
  gap: 150px;
  margin-top: 50px;
}

#experience-badge{
  padding: 45px 43px;
font-size: 1.5rem;
font-weight: 500;
margin-top: -77px;
margin-left: -92px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}

.feature-arcitec img{
    width: 100%;
}























   /* responsiv media query */
   @media  screen and (max-width: 576px) {
    .navbar, .ul{
        
        flex-direction: column;

    }
    .teams{
      flex-direction: column;
    }
    .team-img-container{
      grid-template-columns: repeat(1, 1fr);
      
    }
   .our-feature{
  margin-left: 40px;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 20px;

}
.sponsor-company{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.features{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.feature-arcitec img{
  width: 100%;
} 
#experience-badge{
  padding: 45px 43px;
font-size: 1.5rem;
font-weight: 500;
margin-top: -77px;
margin-left: 70px;
}

  }

  @media  screen and (min-width: 576px) and (max-width: 992px){

  .teams{
    flex-direction: column;
  }
  .our-feature{
    margin: 50px auto;
  }
  .sponsor-company , .facts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }









  }